/Servidor/nbproject/private/
/Servidor/build/
/Servidor/Servidor/target/
/PrimeraAppJavaFx/nbproject/private/
/PrimeraAppJavaFx/build/
/PrimeraAppJavaFx/dist/
/PropiertiesExample/nbproject/private/
/PropiertiesExample/dist/
/PropiertiesExample/build/
/WorkshopNotes/nbproject/private/
/WorkshopNotes/build/
/WorkshopNotes/dist/
/AdressApp/nbproject/private/
/AdressApp/build/
/AdressApp/dist/
/DemoButtons/nbproject/private/
/DemoButtons/build/